.page_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas_field {
    width: 500px;
    height: 400px;
    margin: 20px;
}
.input_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}